@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <a asp-controller="User" asp-action="Profile" asp-route-userId="29151513-9180-4d94-a19a-fe56840dd250">профиль</a>
</div>